In [1]:
import pandas as pd

In [4]:
data=pd.read_csv('Play_Tennis.csv')

In [5]:
data

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

In [6]:
data['Outlook'].unique()

array(['Sunny', 'Overcast', 'Rain'], dtype=object)

In [7]:
data['Outlook']=data['Outlook'].map({'Sunny':0,'Overcast':1,'Rain':2})

In [8]:
data['Temperature'].unique()

array(['Hot', 'Mild', 'Cool'], dtype=object)

In [9]:
data['Temperature']=data['Temperature'].map({'Hot':0,'Mild':1,'Cool':2})

In [10]:
data['Humidity'].unique()

array(['High', 'Normal'], dtype=object)

In [11]:
data['Humidity']=data['Humidity'].map({'High':0,'Normal':1})

In [12]:
data['Wind'].unique()

array(['Weak', 'Strong'], dtype=object)

In [13]:
data['Wind']=data['Wind'].map({'Weak':0,'Strong':1})

In [14]:
data['Play Tennis'].unique()

array(['No', 'Yes'], dtype=object)

In [15]:
data['Play Tennis']=data['Play Tennis'].map({'No':0,'Yes':1})

In [ ]:
data

In [18]:
X=data.drop('Play Tennis',axis=1)

In [19]:
y=data[['Play Tennis']]

In [20]:
X

    Outlook  Temperature  Humidity  Wind
0         0            0         0     0
1         0            0         0     1
2         1            0         0     0
3         2            1         0     0
4         2            2         1     0
5         2            2         1     1
6         1            2         1     1
7         0            1         0     0
8         0            2         1     0
9         2            1         1     0
10        0            1         1     1
11        1            1         0     1
12        1            0         1     0
13        2            1         0     1

In [21]:
y

    Play Tennis
0             0
1             0
2             1
3             1
4             1
5             0
6             1
7             0
8             1
9             1
10            1
11            1
12            1
13            0

In [22]:
from sklearn.naive_bayes import GaussianNB

In [23]:
model=GaussianNB()

In [24]:
model.fit(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [26]:
model.predict([[0,0,0,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

array([0])

In [28]:
model.predict([[2,2,1,1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

array([1])

In [ ]:
!pip install streamlit

In [37]:
import pickle
pickle_out=open('Play_Tennis.pkl','wb')
pickle.dump(model,pickle_out)
pickle_out.close()

In [38]:
import streamlit as st
import pickle
pickle_in=open('Play_Tennis.pkl','rb')
model=pickle.load(pickle_in)
Outlook=st.number_input('Enter Outlook : ')
Temperature=st.number_input('Enter Temperature : ')
Humidity=st.number_input('Enter Humidity : ')
Wind=st.number_input('Enter Wind : ')
Value=""
if st.button("PREDICT"):
  result=model.predict([Outlook,Temperature,Humidity,Wind])
  if result==1:
    st.success("You Can Play Tennis")
  else:
    st.success("You Can't Play Tennis")

WARNING:root:
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py [ARGUMENTS]
2022-09-19 09:53:39.863
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py [ARGUMENTS]

In [34]:
data.columns

Index(['Outlook', 'Temperature', 'Humidity', 'Wind', 'Play Tennis'], dtype='object')